*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* direction: rtl; */
    font-family: Tajawal,sans-serif;
}
:root{
    --color:#D4070E;
}
/* section head1 */
.head1{
    background-color: #F9FAFC;
    display:grid;
    grid-template-columns: 14% 12%  12%  12%  12%  12% 14%  12% ;
    padding: 0 50px;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid #E6EAF3;
} 
.head1  div{
    display: flex;
    border-right: 1px solid #E6EAF3;
    color: #42526E;
    align-items: center;
    padding: 10px 0;
}
div a{
    text-decoration: none;
    color: #42526E;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.fas{
    padding: 0 10px;
}
/* section head2 */
.head2{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    /* padding-top: 20px; */
    position: sticky;
    z-index: 5;
    top: 0;
    margin-bottom: 1;
    /* padding: 5px;*/
}
.head2 div{
    display: flex;
    align-items: center;
    position: relative;
    padding:0 15px;
}
.head2 div img{
    width: 50%;
    position: absolute;
    left: 0;
}
.head2 div input{
    width: 100%;
    height: 40px;
    border-style: none;
    background-color: #EFF2F7;
    border-radius: 10px;
    padding: 5px;
}
.head2 div input:hover{
    border: 2px solid var(--color);
}
.crical{
    width: 20%;
    border-radius: 50%;
    background-color: #E5E9F2;
    height: 50px;
    justify-content: center;
}
/* section head3 */
.head3{
    display: grid;
    grid-template-columns: 100%;
    padding: 5% 3% 0;
}
.head3 div {
width: 100%;


}
.head-img{
    align-items: center;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
}
.head3 div img {
    width: 95%;
    margin: 0 auto;
   
 /* animation: slidbar 10s ease-in-out 2s 100 alternate forwards  ;  */
margin-bottom: 3%;
}
/* @keyframes slidbar{
0%
{ content: url("../img/adv.jpg");}
25%
{ content: url("../img/bag.jpg");}
50%
{ content: url("../img/mobile.jpg");}
75%
{ content: url("../img/bags.jpg");}
100%
{ content: url("../img/mobile2.jpg");}

} */
/* finsh header*/
/*section footer */
.footer1{
    background-color: #333333;
    color: white;
    display: grid;
    grid-template-columns:  25%  18.5% 18.5% 18.5% 18.5%;
    padding: 15px;
}
.footer1 div{
    display: flex;
    justify-content:space-around ;
    padding: 10px;
    flex-wrap:wrap;
    align-items: center;
    align-content: flex-start;
}
.input{
    width: 100%;
    border-radius: 5px;
    background-color: #EFF2F7;
    border-style: none;
    padding:18px;
}
.button{
    width: 30%;
    border-radius: 5px;
    margin: 0;
    padding: 16px 10px;
}
.form-back{



width: 80%;  

}
.h3{
    display: block;
    border-bottom: 1px solid gray;
    width: 80%;
    color: #A4A4A4;
    margin-bottom: 15px;

}
.form-footer{
    padding:10px;
    background-color: #484848;
    width:100%;
    justify-content: end !important;
    align-items: flex-start;
    align-content: center;
    border-style: none;
    border-radius: 20px;
}

.footer-s{
    display:inline;
    width:80%;
    color: #A4A4A4;
}
ul{
    width: 100%;
}
ul li{
    list-style: none;
    font-size: 18px;
    padding: 0 25px;
    color: #fff;
}
.media {
    font-size: 24px;
}
/*sectin footer 2*/
.footer2{
    background-color: #fff;
    color: #171717;
    display: grid;
    grid-template-columns:50% 50%;
    padding: 15px;

}
.footer2 div{
    
        display: flex;
        justify-content:space-around ;
        padding: 10px;
        flex-wrap:wrap;
        align-items: center;
        align-content: center;
}
.footer2 div img{
    width: 10%;
}
.footer2 div p a{
    color:#171717
}
#counter{
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
    top: 63%;
    right: 16%;
    display: none;
    justify-content: center;
    
    
    align-items: center;
}