
RewriteEngine On

 RewriteCond %{REQUEST_FILE_NAME} !-d 
 RewriteCond %{REQUEST_FILE_NAME} !-f 
 RewriteCond %{REQUEST_FILE_NAME} !.(css|js|jpg|jpeg|png|svg|webp)$


 RewriteBase /libary/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php?$1 [L,QSA]